.choice {
  font-size: 50px;
  border-radius: 10px;
  align-content: center;
  padding: 20px;
  justify-content: space-around;
  background-color: whitesmoke;
  margin: 17px;
  width: 150px;
  margin-top: 0px;
}

.game {
  text-align: center;
  font-size: 80px;
  align-content: center;
}
.vs {
  font-size: 30px;
}

.results {
  width: auto;
  align-content: center;
  text-align: center;
  font-size: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;

  color: white;
}

.playAgain {
  margin-top: 80px;
  font-size: 40px;
  background-color: rgb(237, 231, 231);
}
